.aboutcomponent{
    display: flex;
    width: 90%;
}
    .abouttitle{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
    }

    @media only screen and (max-width: 768px) {
        .abouttitle{
            display: none;
        }

    }